.sb-basic-button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0;
  cursor: pointer;
  border: none;

  &--square {
    border-radius: 5px;
  }

  &--round {
    border-radius: 50px;
  }

  &--small {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;
    padding: 0 24px;
    height: 30px;
    font-weight: 400;
  }

  &--medium {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    padding: 0 24px;
    height: 36px;
    font-weight: 400;
  }

  &--large {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.8px;
    padding: 10px 40px;
    // height: 40px;
    font-weight: 400;
  }
}
.start-icon {
  margin-right: 8px;
}
.end-icon {
  margin-left: 8px;
}
